.dark {
  color: hsl(0, 0%, 17%);
  font-weight: 700;
}

.grey {
  color: hsl(0, 0%, 40%);
  font-weight: 400;
}

.light-grey {
  color: hsl(0, 0%, 45%);
  font-weight: 400;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  border: 1px solid #ddd;
  padding: .35em;
}
table tr:nth-child(even) {
  background: #f8f8f8;  
}
table th,
table td {
  padding: .625em;
  text-align: left;
}
table th {
  background: #999;
  color: #fff;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.dialogue:before         { content: "\275D"; }
p.dialogue:after          { content: "\275E"; }

span.irony:after { content: "\2E46"; }
span.lovepoint:after { content: "\2E43"; }
span.certpoint:after { content: "\2E44"; }
span.authpoint:after { content: "\2E45"; }
span.accpoint:after { content: "\2E47"; }
span.doublepoint:after { content: "\2E48"; }
